@define-color background rgba({{.background.RGB.R}}, {{.background.RGB.G}}, {{.background.RGB.B}}, 0.7);
@define-color foreground #{{.foreground.Hex}};
@define-color color0  #{{.color0.Hex}};
@define-color color1  #{{.color1.Hex}};
@define-color color2  #{{.color2.Hex}};
@define-color color3  #{{.color3.Hex}};
@define-color color4  #{{.color4.Hex}};
@define-color color5  #{{.color5.Hex}};
@define-color color6  #{{.color6.Hex}};
@define-color color7  #{{.color7.Hex}};
@define-color color8  #{{.color8.Hex}};
@define-color color9  #{{.color9.Hex}};
@define-color color10 #{{.color10.Hex}};
@define-color color11 #{{.color11.Hex}};
@define-color color12 #{{.color12.Hex}};
@define-color color13 #{{.color13.Hex}};
@define-color color14 #{{.color14.Hex}};
@define-color color15 #{{.color15.Hex}};
