[colors]
alpha=0.9
foreground = {{.foreground.Hex}}
background = {{.background.Hex}}

regular0 = {{.color0.Hex}}
regular1 = {{.color1.Hex}}
regular2 = {{.color2.Hex}}
regular3 = {{.color3.Hex}}
regular4 = {{.color4.Hex}}
regular5 = {{.color5.Hex}}
regular6 = {{.color6.Hex}}
regular7 = {{.color7.Hex}}

bright0  = {{.color8.Hex}}
bright1  = {{.color9.Hex}}
bright2  = {{.color10.Hex}}
bright3  = {{.color11.Hex}}
bright4  = {{.color12.Hex}}
bright5  = {{.color13.Hex}}
bright6  = {{.color14.Hex}}
bright7  = {{.color15.Hex}}
