full_text=""
alighn=center
separator=false
separator_block_width=7
color=#{{.foreground.Hex}}

[separator]

[vol-out]
command=/home/{{.user.String}}/.config/i3blocks/volume-pulseaudio-new
signal=1
interval=once
COLOR=#{{.color3.Hex}}
TYPE=output
MUTEDCOLOR=#{{.color6.Hex}}

[vol-in]
command=/home/{{.user.String}}/.config/i3blocks/volume-pulseaudio-new
signal=1
interval=once
COLOR=#{{.color3.Hex}}
TYPE=input
MUTEDCOLOR=#{{.color6.Hex}}

[separator]

[backlight]
command=/home/{{.user.String}}/.config/i3blocks/backlight
label=Backlight:
signal=2
interval=once
color=#{{.color7.Hex}}

[separator]

[disk]
command=/home/{{.user.String}}/.config/i3blocks/disk
LABEL=/:
DIR=/
#ALERT_LOW=10
interval=30
color=#{{.color4.Hex}}

[separator]

[cpu_usage]
command=/home/{{.user.String}}/.config/i3blocks/cpu_usage
interval=10
LABEL=C:
#min_width=CPU: 100.00%
#T_WARN=50
#T_CRIT=80
DECIMALS=0
color=#{{.color2.Hex}}

[separator]

[memory]
command=/home/{{.user.String}}/.config/i3blocks/memory
label=M:
interval=30
color=#{{.color1.Hex}}

[separator]

[ip]
command=printf "%s | %s\n" "$(iwctl station wlan0 show | grep "Connected network" | awk '{print $3}')" "$(ip a | grep wlan0 | grep inet | awk -F' ' '{print $2}')"
interval=once
color=#{{.color6.Hex}}

[separator]

[time]
command=date "+%m/%d/%Y - %T"
interval=5
color=#{{.color4.Hex}}

[separator]

[bat]
command=/home/{{.user.String}}/.config/i3blocks/bat-state.sh
URGENTCOLOR=#{{.color5.Hex}}
COLOR20=#{{.color7.Hex}}
COLOR40=#{{.color1.Hex}}
COLOR60=#{{.color2.Hex}}
COLOR80=#{{.color3.Hex}}
interval=10

[separator]

