themes {
    term {
        fg {{.foreground.RGB.R}} {{.foreground.RGB.G}} {{.foreground.RGB.B}}
        bg {{.background.RGB.R}} {{.background.RGB.G}} {{.background.RGB.B}}
        red {{.color1.RGB.R}} {{.color1.RGB.G}} {{.color1.RGB.B}}
        green {{.color2.RGB.R}} {{.color2.RGB.G}} {{.color2.RGB.B}}
        yellow {{.color3.RGB.R}} {{.color3.RGB.G}} {{.color3.RGB.B}}
        blue {{.color4.RGB.R}} {{.color4.RGB.G}} {{.color4.RGB.B}}
        magenta {{.color5.RGB.R}} {{.color5.RGB.G}} {{.color5.RGB.B}}
        orange {{.color11.RGB.R}} {{.color11.RGB.G}} {{.color11.RGB.B}}
        cyan {{.color6.RGB.R}} {{.color6.RGB.G}} {{.color6.RGB.B}}
        black {{.color0.RGB.R}} {{.color0.RGB.G}} {{.color0.RGB.B}}
        white {{.color7.RGB.R}} {{.color7.RGB.G}} {{.color7.RGB.B}}
    }
}
