ACCENT_BG={{.color2.Hex}}
BASE16_GENERATE_DARK=True
BASE16_INVERT_TERMINAL=False
BASE16_MILD_TERMINAL=False
BG={{.background.Hex}}
BTN_BG={{.color2.Hex}}
BTN_FG={{.foreground.Hex}}
BTN_OUTLINE_OFFSET=10
BTN_OUTLINE_WIDTH=1
CARET1_FG={{.color3.Hex}}
CARET2_FG={{.foreground.Hex}}
CARET_SIZE=0.04
CINNAMON_OPACITY=1.0
FG={{.foreground.Hex}}
GRADIENT=0.0
GTK3_GENERATE_DARK=False
HDR_BG={{.color16.Hex}}
HDR_BTN_BG={{.color3.Hex}}
HDR_BTN_FG={{.foreground.Hex}}
HDR_FG={{.foreground.Hex}}
ICONS_ARCHDROID={{.foreground.Hex}}
ICONS_DARK={{.color6.Hex}}
ICONS_LIGHT={{.color6.Hex}}
ICONS_LIGHT_FOLDER={{.color6.Hex}}
ICONS_MEDIUM={{.color6.Hex}}
ICONS_NUMIX_STYLE=4
ICONS_STYLE=papirus_icons
ICONS_SYMBOLIC_ACTION={{.foreground.Hex}}
ICONS_SYMBOLIC_PANEL={{.color3.Hex}}
MENU_BG={{.color8.Hex}}
MENU_FG={{.foreground.Hex}}
NAME="Colorway"
OUTLINE_WIDTH=1
ROUNDNESS=3
SEL_BG={{.color11.Hex}}
SEL_FG={{.background.Hex}}
SPACING=3
SPOTIFY_PROTO_BG={{.background.Hex}}
SPOTIFY_PROTO_FG={{.color5.Hex}}
SPOTIFY_PROTO_SEL={{.color6.Hex}}
SURUPLUS_GRADIENT1={{.color5.Hex}}
SURUPLUS_GRADIENT2={{.color6.Hex}}
SURUPLUS_GRADIENT_ENABLED=False
TERMINAL_ACCENT_COLOR={{.color6.Hex}}
TERMINAL_BACKGROUND={{.background.Hex}}
TERMINAL_BASE_TEMPLATE=basic
TERMINAL_COLOR0={{.color0.Hex}}
TERMINAL_COLOR1={{.color1.Hex}}
TERMINAL_COLOR10={{.color10.Hex}}
TERMINAL_COLOR11={{.color11.Hex}}
TERMINAL_COLOR12={{.color12.Hex}}
TERMINAL_COLOR13={{.color13.Hex}}
TERMINAL_COLOR14={{.color14.Hex}}
TERMINAL_COLOR15={{.color15.Hex}}
TERMINAL_COLOR2={{.color2.Hex}}
TERMINAL_COLOR3={{.color3.Hex}}
TERMINAL_COLOR4={{.color4.Hex}}
TERMINAL_COLOR5={{.color5.Hex}}
TERMINAL_COLOR6={{.color6.Hex}}
TERMINAL_COLOR7={{.color7.Hex}}
TERMINAL_COLOR8={{.color8.Hex}}
TERMINAL_COLOR9={{.color9.Hex}}
TERMINAL_CURSOR={{.color7.Hex}}
TERMINAL_FOREGROUND={{.foreground.Hex}}
TERMINAL_THEME_ACCURACY=128
TERMINAL_THEME_AUTO_BGFG=False
TERMINAL_THEME_EXTEND_PALETTE=True
TERMINAL_THEME_MODE=manual
THEME_STYLE=oomox
TXT_BG={{.background.Hex}}
TXT_FG={{.foreground.Hex}}
UNITY_DEFAULT_LAUNCHER_STYLE=False
WM_BORDER_FOCUS={{.color3.Hex}}
WM_BORDER_UNFOCUS={{.color8.Hex}}
