! Light
*.foreground:   #{{.foreground.Hex}}
*.background:   #{{.background.Hex}}

*.color0:       #{{.color0.Hex}}
*.color1:       #{{.color1.Hex}}
*.color2:       #{{.color2.Hex}}
*.color3:       #{{.color3.Hex}}
*.color4:       #{{.color4.Hex}}
*.color5:       #{{.color5.Hex}}
*.color6:       #{{.color6.Hex}}
*.color7:       #{{.color7.Hex}}
*.color8:       #{{.color8.Hex}}
*.color9:       #{{.color9.Hex}}
*.color10:      #{{.color10.Hex}}
*.color11:      #{{.color11.Hex}}
*.color12:      #{{.color12.Hex}}
*.color13:      #{{.color13.Hex}}
*.color14:      #{{.color14.Hex}}
*.color15:      #{{.color15.Hex}}
